body
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	
}
body a:hover
{
	color: black;
}
body a
{
	text-decoration: none;
	color: black;
}
#bloc_page
{
	width: 95%;
	margin: auto;
	position: relative;
}
header
{
	z-index: 500;
}		
.header_categories
{
	height: 50px;
	display: flex;
	border-bottom: 1px black solid;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: white;
}
.header_categories p
{
	width: 50%;
	border-left: 1px black solid;
	border-right: 1px black solid;
	font-size: 1.8em;
	height: 100%;
	text-align: center;
	margin-top: 0px;
}
.header_categories a
{
	width: 25%;
	text-align: center;
	font-size: 1.3em;
	background: rgba(250, 250, 250, 0.8);
	height: 100%;
}
#section
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	padding-inline-start: 0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	position: absolute;
	top: 60px;
}
#section p
{
	margin-bottom: 0px;
}
.article
{
	display: block;
	width: 29%;
	box-shadow: 4px 4px 2px grey;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid grey;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	position: relative;
	text-align: left;
}
.auteur
{
	font-size: 1.2em;
	margin-bottom: 0px;
}
.titre
{
	font-size: 1.7em;
	margin-bottom: 0px;
	margin-top: 3px;
}
 dialog 
 {
	width: 90%;
	height: 90%;
	margin: auto;
	border-radius: 40px;
	padding: 0px;	
	border: none;
}
	
dialog p
{
	padding-right: 20px;
	padding-left: 20px;
	font-size: 1.1em;
}
dialog::backdrop
{
	background-color: rgba(0, 0, 0, 0.7);	
} 
dialog p
{
	font-size: 2em;
} 
.titre_dialog
{
	font-size: 1.7em;
	margin-bottom: 0px;
	margin-top: 3px;
	margin-left: 30px;
}
button
{
	border: none;
	
}
.bouton_fermer
{
	border-radius: 40px;
	height: 80px;
	width:80px;
	outline: none;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	box-shadow: 2px 1px grey;
	border: 1px grey solid;
	background: url('croix.jpg'), grey;
	background-size: 80px;
	font-size: 0em;

}
.bouton_ouvrir
{
	margin-bottom: 5px;
	margin-left: 5px;
}
button img
{
	max-width: 80%;
	margin: 1px;
	
}